@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: cover;
  background: #EEEEEE url(https://files.jcink.net/uploads/freakuency/b93.png) fixed;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
